@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
    --bg-color :  #0C0F0A;
    --text-color : #ffffff; 
    --bg-nav-color: RGB(12,15,10,0.8);
    --main-font-family: 'Rubik', monospace, sans-serif;
    --bg-component-color: #262D34;
}

.fixed-01 {
    z-index: -1;
    background: url("https://learn.reboot01.com/assets/img/01-trame.svg") center center / cover;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    opacity: 0.15;
    top: 0;
    left: 0;
    position: fixed;
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--bg-color);
}

body::-webkit-scrollbar {
    display: none;
}

nav {
  background-color: var(--bg-nav-color);
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #f5fffa;
}

.logo {
  font-family: var(--main-font-family);
  font-size: 1.5rem;
}

.navicon {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  border: 0;
}

.navicon:hover {
  background-color: #2c2c2c;
}


.actionitems {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.actionitems > li {
  all: unset;
  font-family: var(--main-font-family);
}

.profile {
  width: 100px;
  height: 30px;
  border-radius: 1000px;
  border: 0.5px solid #FF206E;
  background-color: transparent;
  color: #FF206E;
  cursor: pointer;
  transition-duration: 0.3s;
}

.profile:hover {
  background-color: #faf1f1;
  color: black;
  font-weight: bolder;
  border: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* padding-top: 8em; */
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: space-around;
    margin-top: 12vh;
}

.postcardwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    /* margin-top: 10vh; */
    min-height: 90vh;
}

.postcard {
    display: flex;
    width: 785px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
    background: var(--Dark-3, #262D34);
    color: var(--text-color);
    font-family: var(--main-font-family);
    cursor: pointer;
    transition-duration: 0.3s;
}

.postcard:hover {
    background-color: #3f2439;
}

a {
    color: white;
    text-decoration: none;
}

.postWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.postImage {
    width: 156px;
    height: 156px;
    border-radius: 16px;
    border: 1px solid rgba(43, 0, 212, 0.10);
    background: url(<path-to-image>), lightgray -67.941px -68.096px / 184.47% 178.067% no-repeat;
    box-shadow: 0px 2px 6px 0px rgba(43, 0, 212, 0.06);
}

.dataWrapper {
    display: flex;
    width: 569px;
    align-items: flex-start;
    gap: 20px;
}

.data {
    display: flex;
    width: 519px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
}

.title_category {
    display: flex;
    width: 521px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 521px;
}

.title {
    display: flex;
    width: 521px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 521px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3.5em;

}

.bold_text {
    font-size: xx-large;
}

.categories {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.category {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 20px;
    background: var(--Dark-4, #2C353D);
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 785px;
    gap: 40px;
}

.userID {
    display: flex;
    /* width: 200px; */
    justify-content: space-between;
    align-items: center;
}

.action {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.creationdate {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.sidebar-filter{
    width: 20vw;
    height: 90vh;
    /* background-color: #1be7ee; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.filterbox {
    width: 12vw;
    height: fit-content;
    border-radius: 30px;
    background-color: var(--bg-component-color);
    display: flex;
    flex-direction: column;
    padding-left: 1.4em;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
    font-family: var(--main-font-family);
    color: #ffffff;
    /* gap: 2.4em; */
}

.filterDIV, .catlisting {
    cursor: pointer;
    border-radius: 30px;
    width: 10vw;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1.5em;
    transition-duration: 0.3S;
}

.allcats {
    margin-top: 1em;
}

.filterDIV:hover, .catlisting:hover {
    background-color: #3f2439;
}

.categ-sidebar {
    width: 20vw;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.catTitle {
    font-weight: bolder;
    font-size: 1.2rem;
}

.likeBtn, .dislikeBtn {
    /* width: 1000px; */
    /* display: flex; */
    cursor: pointer;
    font-size: 1.5rem;
    border: 0;
    background: none;
}

.vote {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 100px;
}